*{
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color:black;
    padding: 20px;
    width: 100%;
    display: inline;
}

header img{
    width: 12%;

}
nav ul li{
    text-align: center;
    display: inline;
}
nav ul li a{
    color: white;
    display: inline;
    letter-spacing: 0.2em;
    margin-left: 100px;
    margin-right: 100px;
}

main{
    padding:20px;
    background-color: red;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 20px);
    border: 2px solid white;
}
main img{
    padding-top:20px;
    width: 100%;
}

h1{text-align: center;}

main h1{
    color:black;
    font-weight: 500;
    font-size: 60px;
}

footer{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
    display: inline;
}