<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf = "isUserLoggedIn">
          <a class="nav-link" routerLink="/areaPrivata">AreaPrivata</a>
        </li>

        <li class="nav-item" *ngIf = "isUserLoggedIn">
          <a class="nav-link" routerLink="/registeredUsers">Registered Users</a>
        </li>

        <li class="nav-item" *ngIf = "isUserLoggedIn">
          <a class="nav-link" routerLink="/FavouriteMovies">Favourite Films</a>
        </li>

        <li class="nav-item" *ngIf = "!isUserLoggedIn">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link active btn btn-danger px-5" aria-current="page" routerLink="auth/register" *ngIf = "!isUserLoggedIn">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn btn-success px-5" aria-current="page" routerLink="/auth/login" *ngIf = "!isUserLoggedIn">login</a>
        </li>
      </ul>
      <a class="btn btn-danger"  *ngIf = "isUserLoggedIn" (click)="logout()">Esci</a>
    </div>
  </div>
</nav>
