/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
body{ 
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat-y;
    margin: 20px;
}
/* HEADER */
#container{ 
   padding-top:20px;
   margin: 8px;
   background-color: #108eb7;
}
img{
   height: 100px;
   width: 250px;
}
header{
    text-align: center;
    color: white;
}
ul,a{
    padding-top: 20px;
    padding-bottom: 40px;
}
a{
    color: white;
}


/* MAIN */
main{
    padding-top: 20px;
    background-color: white;
    border: 1px solid rgb(254, 151, 254);
    border-top:none;
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    font-size: 40px;
    font-weight: bolder;
}
caption,h2{
    padding-top: 8px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
h1~p{
    padding-top: 70px;
}
h2{
    font-size: 30px;
}
p>a{
    color: purple;
    text-decoration: none;
}
.elenco-puntato{
    padding-top: 12px;
}

table{
    text-align: center;
    width: 100%;
}

thead{
    height: 80px;
    line-height: 30px;
    background-color: blue;
    text-align: center;
    color: white;
}
tbody{
    height: 240px;
}
.break-word {
    word-wrap: break-word;
}

.blue{
    color: rgb(106, 172, 225);
    text-decoration: none;
}


iframe {
    border-radius: 5%;
    width: 420px;
    height: 250px;
}

section{
    background-color: rgb(240, 236, 236);
    padding-top: 30px;
    margin-top: 20px;
  
}
section >p{
    margin-top: 10px;
    padding-top: 10px;
  
}
button{
    color: white;
    background-color: blue;
}
