<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let user of users">
      <div class="card">
        <img [src]="user.image" class="card-img-top" alt="User Image">
        <div class="card-body">
          <h5 class="card-title">ID: {{ user.id }}</h5>
          <p class="card-text">Name: {{ user.firstName }} {{ user.lastName }}</p>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Title: {{ user.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
