<div class="container center-content">
  <h2 class="page-title">Ecco la lista degli Utenti Registrati</h2>
  <div class="row mt-4">
    <div class="col-md-6" *ngFor="let user of users; let i = index">
      <div class="card" [ngStyle]="{ 'background-color': getRandomColor() }">
        <div class="card-header" [ngStyle]="{ 'background-color': getRandomColor() }">
          {{ user.firstname }} {{ user.lastname }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Film Preferiti:</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let film of user.FavouriteFilms">
              {{ film.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
