.container.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body{
  background-color: black;
  height: 100vh;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px 15px;
  font-weight: bold;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-group-item {
  border: none;
  padding: 10px;
  background-color: #f8f9fa;
}

.list-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}
