* {
    box-sizing: border-box;
    padding: 20px;
    margin: 30px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(black,rgb(11, 11, 11));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

#contenitore {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
   
}

.button {
    width: 120px;
    padding: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;

}
button {
    width: 80px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 6px;
}

button:hover {
    background-color: green;
}

li {
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
  
}
