.mt-0 {
  margin-top: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mt-15 {
  margin-top: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.mt-45 {
  margin-top: 45px;
}

.pt-45 {
  padding-top: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.mt-75 {
  margin-top: 75px;
}

.pt-75 {
  padding-top: 75px;
}

.ml-75 {
  margin-left: 75px;
}

.pl-75 {
  padding-left: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.pr-75 {
  padding-right: 75px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.mt-700 {
  margin-top: 700px;
}

.pt-700 {
  padding-top: 700px;
}

.ml-700 {
  margin-left: 700px;
}

.pl-700 {
  padding-left: 700px;
}

.mb-700 {
  margin-bottom: 700px;
}

.pb-700 {
  padding-bottom: 700px;
}

.mr-700 {
  margin-right: 700px;
}

.pr-700 {
  padding-right: 700px;
}

.mt-800 {
  margin-top: 800px;
}

.pt-800 {
  padding-top: 800px;
}

.ml-800 {
  margin-left: 800px;
}

.pl-800 {
  padding-left: 800px;
}

.mb-800 {
  margin-bottom: 800px;
}

.pb-800 {
  padding-bottom: 800px;
}

.mr-800 {
  margin-right: 800px;
}

.pr-800 {
  padding-right: 800px;
}

body {
  background-color: rgb(19, 14, 14);
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-item {
  padding-right: 20px;
}

.dropdown a {
  text-decoration: none;
}
.dropdown a .bi {
  font-size: 200%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  padding-right: 30px;
}
.dropdown a .bi-bell {
  margin-left: 30px;
}

.kids a {
  font-size: 30px;
  color: red;
}

.nav_logo {
  width: 20%;
  align-self: center;
}

.nav_avatar {
  width: 100px;
}

.navbar-nav li a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.navbar-nav a:focus {
  background-color: red;
}

#collapse {
  background-color: red;
}

footer {
  color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 20px;
}

#form {
  color: white;
}

.section {
  margin: 70px;
}

.slide {
  height: 200px;
  width: 350px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  height: 100%;
  width: 90%;
  transition: transform 1s;
}

.image-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}

.image-slider-film {
  display: flex;
  width: 4200px;
  animation: play 40s linear infinite;
}

.image-slider-film:hover {
  animation-play-state: paused;
}

@keyframes play {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500px);
  }
}
img:hover {
  transform: translateZ(20px);
}

.sec select {
  background-color: black;
  color: white;
  padding: 10px 30px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
