.mt-0 {
  margin-top: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mt-15 {
  margin-top: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.mt-45 {
  margin-top: 45px;
}

.pt-45 {
  padding-top: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.mt-75 {
  margin-top: 75px;
}

.pt-75 {
  padding-top: 75px;
}

.ml-75 {
  margin-left: 75px;
}

.pl-75 {
  padding-left: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.pr-75 {
  padding-right: 75px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.mt-700 {
  margin-top: 700px;
}

.pt-700 {
  padding-top: 700px;
}

.ml-700 {
  margin-left: 700px;
}

.pl-700 {
  padding-left: 700px;
}

.mb-700 {
  margin-bottom: 700px;
}

.pb-700 {
  padding-bottom: 700px;
}

.mr-700 {
  margin-right: 700px;
}

.pr-700 {
  padding-right: 700px;
}

.mt-800 {
  margin-top: 800px;
}

.pt-800 {
  padding-top: 800px;
}

.ml-800 {
  margin-left: 800px;
}

.pl-800 {
  padding-left: 800px;
}

.mb-800 {
  margin-bottom: 800px;
}

.pb-800 {
  padding-bottom: 800px;
}

.mr-800 {
  margin-right: 800px;
}

.pr-800 {
  padding-right: 800px;
}

* {
  background-color: rgb(19, 14, 14);
  box-sizing: border-box;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  width: 230px;
  align-self: center;
}

.nav_avatar {
  width: 95px;
}

.navbar-nav li a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.navbar-nav a:focus {
  background-color: red;
}

#collapse {
  background-color: red;
}

section .headTitle {
  display: flex;
  align-items: center;
}
section .headTitle select {
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(234, 234, 234);
  font-size: 30px;
  align-items: center;
  margin-top: -23px;
  margin-left: -130px;
}
section .headTitle h1 {
  font-weight: 900;
  font-size: 65px;
}

.iconsRight {
  display: flex;
}
.iconsRight .ii {
  justify-content: center;
  margin-left: 10%;
}
.iconsRight .ii i {
  color: white;
  font-size: 50px;
}

.films {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.film-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: rgb(234, 234, 234);
}

.film-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  color: rgb(234, 234, 234);
}

.film-container::-webkit-scrollbar {
  display: none;
}

.film-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.film-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.film-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.film-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.film-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.film-brand {
  text-transform: uppercase;
}

.film-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

footer {
  color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
