<!--

<div *ngFor="let task of TaskTodoCompleted">
  <div>
    <input type="checkbox" >
    <span>{{ task.todo }}</span>
    <p>Completed by: {{ task.userName }}</p>
  </div>

</div> -->

<h1 class="text-white">Todo list</h1>
<div class="input-group mb-3">
  <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search tasks..." aria-describedby="searchButton">
  <button class="btn btn-outline-secondary" type="button" id="searchButton" (click)="ssearchTasks()">Search</button>
</div>

<div *ngFor="let todo of todosWithUserNames">
  <div [style.background-color]="todo.backgroundColor" class="col">
    <p>Todo: {{ todo.todo }}</p>
    <p>User Name: {{ todo.userName }}</p>

    <input type="checkbox" [checked]="todo.completed" (click)="toggleTodoCompletion(todo)">
  </div>
</div>

