<footer class="footer-div">

  <div class="footer-left">
      <h3>Car<span>Spa</span></h3>

      <p class="footer-links">
          <a routerLink="/">Home</a>
          |
          <a routerLink="/fiat">Fiat</a>
          |
          <a routerLink="/ford">Ford</a>
          |
          <a routerLink="/audi">Audi</a>
      </p>

  </div>

  <div class="footer-center">
      <div>
          <i class="fa fa-map-marker"></i>
          <p>I Contact Us</p>
      </div>

      <div>
          <i class="fa fa-phone"></i>
          <p>+39 34223258</p>
      </div>
      <div>
          <i class="fa fa-envelope"></i>
          <p><a>"ciao.bello00001.cogmail.com"</a></p>
      </div>
  </div>
  <div class="footer-right">
      <p class="footer-company-about">
          <span>About the company</span>
          <strong>CarSpa</strong> Lorem ipsum dolor sit amet consectetur adipis
          Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur
          Lorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetur
      </p>
<!--
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
       -->
  </div>
</footer>

