
h1{
    margin-bottom: 200px;
}

div > #circle{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);

}

#circle{
    border-radius: 50%;
}
.cr1{
    background-color: black;
    width: 5px;
    height: 5px;
    z-index: 100;
   
}
.cr2{
    background-color: white;
    width: 10px;
    height: 10px;
    z-index: 99;
}
.cr3{
    background-color: black;
    width: 15px;
    height: 15px;
    z-index: 98;
   
}
.cr4{
    background-color: white;
    width: 20px;
    height: 20px;
    z-index: 97;
}
.cr5{
    background-color: black;
    width: 25px;
    height: 25px;
    z-index: 96;
   
}
.cr6{
    background-color: white;
    width: 30px;
    height: 30px;
    z-index: 95;
}
.cr7{
    background-color: black;
    width: 35px;
    height: 35px;
    z-index: 94;
   
}
.cr8{
    background-color: white;
    width: 40px;
    height: 40px;
    z-index: 93;
}



.cr9{
    background-color: black;
    width: 45px;
    height: 45px;
    z-index: 92;
   
}
.cr10{
    background-color: white;
    width: 50px;
    height: 50px;
    z-index: 91;
}
.cr11{
    background-color: black;
    width: 55px;
    height: 55px;
    z-index: 90;
   
}
.cr12{
    background-color: white;
    width: 60px;
    height: 60px;
    z-index: 89;
}
.cr13{
    background-color: black;
    width: 65px;
    height: 65px;
    z-index: 88;
   
}
.cr14{
    background-color: white;
    width: 70px;
    height: 70px;
    z-index: 87;
}
.cr15{
    background-color: black;
    width: 75px;
    height: 75px;
    z-index: 86;
   
}
.cr16{
    background-color: white;
    width: 80px;
    height: 80px;
    z-index: 85;
}



.cr17{
    background-color: black;
    width: 85px;
    height: 85px;
    z-index: 84;
   
}
.cr18{
    background-color: white;
    width: 90px;
    height: 90px;
    z-index: 83;
}
.cr19{
    background-color: black;
    width: 95px;
    height: 95px;
    z-index: 82;
   
}
.cr20{
    background-color: white;
    width: 100px;
    height: 100px;
    z-index: 81;
}
.cr21{
    background-color: black;
    width: 105px;
    height: 105px;
    z-index: 80;
   
}
.cr22{
    background-color: white;
    width: 110px;
    height: 110px;
    z-index: 79;
}
.cr23{
    background-color: black;
    width: 115px;
    height: 115px;
    z-index: 78;
   
}
.cr24{
    background-color: white;
    width: 120px;
    height: 120px;
    z-index: 77;
}

.cr25{
    background-color: black;
    width: 125px;
    height: 125px;
    z-index: 76;
}
.cr26{
    background-color: white;
    width: 130px;
    height: 130px;
    z-index: 75;
   
}
.cr27{
    background-color: black;
    width: 135px;
    height: 135px;
    z-index: 74;
}
.cr28{
    background-color: white;
    width: 140px;
    height: 140px;
    z-index: 73;
   
}
.cr29{
    background-color: black;
    width: 145px;
    height: 145px;
    z-index: 72;
}


.cr30{
    background-color: white;
    width: 150px;
    height: 150px;
    z-index: 71;
}
.cr31{
    background-color: black;
    width: 155px;
    height: 155px;
    z-index: 70;
   
}
.cr32{
    background-color: white;
    width: 160px;
    height: 160px;
    z-index: 69;
}
.cr33{
    background-color: black;
    width: 165px;
    height: 165px;
    z-index: 68;
   
}
.cr34{
    background-color: white;
    width: 170px;
    height: 170px;
    z-index: 67;
}

/* ANCORA DA FARE YO 
*/


.cr35{
    background-color: black;
    width: 175px;
    height: 175px;
    z-index: 66;
   
}
.cr36{
    background-color: white;
    width: 180px;
    height: 180px;
    z-index: 65;
}
.cr37{
    background-color: black;
    width: 185px;
    height: 185px;
    z-index: 64;
   
}
.cr38{
    background-color: white;
    width: 190px;
    height: 190px;
    z-index: 63;
}
.cr39{
    background-color: black;
    width: 195px;
    height: 195px;
    z-index: 62;
   
}
.cr40{
    background-color: white;
    width: 200px;
    height: 200px;
    z-index: 61;
}


.cr41{
    background-color: black;
    width: 205px;
    height: 205px;
    z-index: 60;
}
.cr42{
    background-color: white;
    width: 210px;
    height: 210px;
    z-index: 59;
   
}
.cr43{
    background-color: black;
    width: 215px;
    height: 215px;
    z-index: 58;
}
.cr44{
    background-color: white;
    width: 220px;
    height: 220px;
    z-index: 57;
   
}
.cr45{
    background-color: black;
    width: 225px;
    height: 225px;
    z-index: 56;
}


.cr46{
    background-color: white;
    width: 230px;
    height: 230px;
    z-index: 55;
}
.cr47{
    background-color: black;
    width: 235px;
    height: 235px;
    z-index: 54;
   
}
.cr48{
    background-color: white;
    width: 240px;
    height: 240px;
    z-index: 53;
}
.cr49{
    background-color: black;
    width: 245px;
    height: 245px;
    z-index: 52;
   
}
.cr50{
    background-color: white;
    width: 250px;
    height: 250px;
    z-index: 51;
}