<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <div class="card">
        <img [src]="movie.image" class="card-img-top" alt="Movie Image">
        <div class="card-body">
          <h5 class="card-title">{{ movie.name }}</h5>
          <p class="card-text">Author: {{ movie.author }}</p>
          <p class="card-text">Release Year: {{ movie.ReleaseDate }}</p>
          <i class="bi bi-heart"
          [class.text-danger]="movie.isLiked"
          (click)="toggleLike(movie)"></i>

        </div>
      </div>
    </div>
  </div>
</div>
