// non ho vapito se bastava anche solo un important e con le virgole mettere gli altri ma nel dubbio ho fatto cosi
@import 'reset';
@import 'colori';
@import 'font';
@import 'spaziature';
@import 'bottoni';
@import 'mixins-generici';
@import 'animazioni';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Roboto&family=Spectral&display=swap');

header{
    background-color: $coloreBg;
}

h2{
    @include title-big;
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
      //non sono riuscito a dare il padding tramite il mixin non vapisco se sbagliavo la sintassi o altro
      margin-left: 50px;
      margin-right: 50px;
    ul{
        display: flex;
        a{
            text-decoration: none;
            font-size: nth($fontSize, 2);
            color: $coloreTesto;
        }
    }
}
.container{
    //non sono riuscito a dare il padding tramite il mixin non vapisco se sbagliavo la sintassi o altro
    display: flex;
    flex-wrap: nowrap;
    margin: $bodyMargin;

    .flex{
        display: flex;
        flex-direction: column;
        h1{
            @include title-big;
            margin-bottom: 40px;
        }
    }
    button{
        color: $coloreTesto;
        font-size: nth($fontSize,2);
        display: inline-flex;
        padding: $paddingButtons;
        margin-top: 40px;
        border-radius: $radius;
    }
    button:nth-child(1){
        background-color: nth($coloreBottoni,1);
    }
    button:nth-child(2){
        background-color: nth($coloreBottoni,2);
    }
    button:nth-child(3){
        background-color: nth($coloreBottoni,3);
    }
    .img{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include floating;
    }
}

.images{
    background-color: $coloreBg1;
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    img{
        width: calc(100% / 4);
        padding-left: nth($padding, 1);
        border-radius: 10px;
    }
}