*{
    box-sizing: border-box;
}
.square{
    width: 100px;
    height: 100px;
    background-color: red;
} /* negli elementi linea come span non si puo cambiare la dimesnione*/

#d2{
    min-height: 20px;
    max-height: 25px;
    background-color: green;
} /* con max height se testo esce fuori non rientra nel box*/

#d3{
    max-width: 600px;
    background-color: yellow;
} /* in schermi più grandi di 600 la fascia verde non ricopre l'intera lunghezza*/


/* PADDING
padding sposta solo il contenuto dai bordi.Padding non puo avere margini negativi

*/


/* MARGIN
margin sposta il box dal margine/bordo della pagina o ripetto a un altro elemento
con auto centro l'elemento. Margin puo avere margini negativi
*/
#d4{
    padding: 3rem;
    /* il padding aumenta le dimensioni con il padding*/
    /* con  box-sizing: border-box; il padding lo toglie e lo aggiunge 
    fuori dal box d4 cosi le dimesioni rimangono quelle della classe square...
    puo essere messo anche all'inizio per influenzare l'intera pagina
    guarda a riga 1 per esempio*/
} 
#d5{
    padding: 100px;
    /* il padding aumenta le dimensioni con il padding*/
    /* con  box-sizing: border-box; il padding lo toglie e lo aggiunge 
    fuori dal box d4 cosi le dimesioni rimangono quelle della classe square...
    puo essere messo anche all'inizio per influenzare l'intera pagina
    guarda a riga 1 per esempio*/
    border: 5px dotted black;
    border-left: none; /* se devo bordare solo 3 dei 4 bordi questo mi permette di eliminare il bordo 
    di uno dei lati a scelta-in questo caso quello destro*/
    /*
    border: 5px solid black;
    border: 5px dashed black;
    border: 5px outset black;
    border-top:
    border-keft:
    border-right:
    border-bottom:display:;
    */
    margin-top: 10px; /*sepra i box in senso verticale*/
} 

#d6{
    margin-top: 10px;
    border-radius: 50%;
    /*
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    */
    background: transparent;
    border: 10px dashed black;
    border-right: none; 
}

/* Overflow
margin sposta il box dal margine/bordo della pagina o ripetto a un altro elemento
con auto centro l'elemento. Margin puo avere margini negativi
*/
#d8{
    height: 70px;
    background-color: blue;
    /*
    overflow: hidden; /*taglia il contenuto che esce fuori dal box*/
    overflow: scroll;  /*crea 2 barre(x-y) che scorrendo permette di leggere il testo che esce senza allungare il box--solo verticalmente pero in y*/
    overflow-y: scroll; /*uguale sopra solo che toglie la barra di scorrimento x verticale(comunque brutto ma più carino)*/

    overflow: auto;  /*simile a riga 81 ma non serve aggiungere y*/
}







