
h1{
  color: black;
  margin-bottom: 30px;
  span{
    color:#e0ac1c;
  }
}
.loghi{
  background-color: #e0ac1c;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 40px;
  img{
    width: 20%;
    padding: 20px;
}

}

.card{
  // background-color: #e0ac1c;
  margin-bottom: 50px;
  border-radius: 30px;
  img{
    border-radius: 30px;
  }
}


.loghi1{
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 40px;
  img{
    width: 20%;
    padding: 20px;
}
}
