
<!-- {{autoArr | json}} -->

<div class="container " id="body">
  <h1>Our Supported <span>Brand</span></h1>
  <div class="loghi d-flex">
    <img src="../../../assets/loghi/fiat logo.png" alt="">
    <img src="../../../assets/loghi/ford.png" alt="">
    <img src="../../../assets/loghi/audi.png" alt="">
  </div>
  <h1>Welcome To <span>CarSpa</span></h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let auto of autoArr">
      <div class="card" [style.background-color]="getCardBackgroundColor(auto.brand)">
        <img class="card-img-top" [src]="auto.brandLogo" alt="Brand Logo">
        <div class="card-body">
          <h5 class="card-title">{{ auto.brand }}</h5>
          <p class="card-text">Model: {{ auto.model }}</p>
          <p class="card-text">Year: {{ auto.year }}</p>
          <p class="card-text">Price: {{ auto.price }}</p>
          <p class="card-text">Available: {{ auto.available ? 'Yes' : 'No' }}</p>
          <a [routerLink]="['/', auto.brand.toLowerCase()]"
              class="btn btn-success">
                Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
