/* Error: Only 0 arguments allowed, but 1 was passed.
 *     ,
 * 97  | @mixin generaSpaziature() {
 *     |        ================== declaration
 * ... |
 * 113 | @include generaSpaziature(15);
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss\style.scss 113:1  generaSpaziature()
 *   scss\style.scss 113:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 1 was passed.\a     \2577 \a 97  \2502  @mixin generaSpaziature() {\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 113 \2502  @include generaSpaziature(15);\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss\\style.scss 113:1  generaSpaziature()\a   scss\\style.scss 113:1  root stylesheet";
}
