body{
    background-image: url(../images/nayt.jpg);
    background-size: cover; 
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

#quote{
    color: white;
}
.break-word{
    word-wrap: break-word;
}