body{
    background-image: url(../images/nayt.jpg);
    background-size: cover; 
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#quote{
    font-size: 80px;
    letter-spacing: 0.3em;
    opacity: 0.3;
}
h1:hover{
    color: red;
    transition: 10s;
}
h1{
    
    color: white;

}
.break-word{
    word-wrap: break-word;
}