body{
    padding: 90px;
}

article{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    border-radius: 30px;
    background-color: white;
    padding: 30px;
}

article img{
    flex: 1 1 500px;
}

article .articole_text{
    flex: 1 1 500px;
    line-height: 1.4;
}