body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(196, 182, 182);
}

.post-it-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.post-it {
    width: 800px;
    height: 800px;
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.tetx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h2 {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.p {
    font-size: 5rem;

}

.post1,
.post5,
.post7 {
    background-color: rgb(216, 216, 154);
    transform: rotate(-1deg);
}

.post3,
.post6 {
    background-color: rgb(201, 154, 226);
    transform: rotate(-3deg);
}


.post2,
.post4,
.post8 {
    background-color: rgb(155, 255, 180);
    transform: rotate(4deg);
}

.post-it:hover {
    transform: scale(1.3); /* Ingrandisce il post-it del 30% al passaggio del mouse */
  }
/* @keyframes rotate {
    from {
        width: 800px;
        height: 800px;
    }

    to {
        width: 800px;
        height: 800px;
    }
} */

