<body>
  <div class="container">
    <h1>Registrati</h1>
    <form>
      <input type="text" name="nome" class="form-control" [(ngModel)]="registerData.firstname" placeholder="Nome" (blur)="checkEmpty('firstname')">
      <div *ngIf="showError.firstname && !registerData.firstname" class="alert alert-danger" role="alert">Il campo Nome è obbligatorio.</div>

      <input type="text" name="cognome" class="form-control" [(ngModel)]="registerData.lastname" placeholder="Cognome">

      <input type="email" name="email" class="form-control" [(ngModel)]="registerData.email" placeholder="Email" (blur)="checkEmpty('email')">
      <div *ngIf="showError.email && !registerData.email" class="alert alert-danger" role="alert">Il campo Email è obbligatorio.</div>

      <input type="password" name="password" class="form-control" [(ngModel)]="registerData.password" placeholder="Password" (blur)="checkEmpty('password')">
      <div *ngIf="showError.password && !registerData.password" class="alert alert-danger" role="alert">Il campo Password è obbligatorio.</div>
      <button class="btn btn-success" (click)="signUp()">Registrati</button>
    </form>
  </div>
</body>
