.scena{
    background-color: aqua;
    perspective: 30px;
    transform-style: preserve-3d;
}
.quadrato{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid white;
}
/* #q1{
    transform: rotateX(45deg);
}

#q2{
    transform: translateZ(54px);
} */

#q1{
    transition: all 3s;
}


#q1:hover{
    background-color: blue;
    width: 1200px;
}