/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  #container {
    text-align: center;
    font-size: 150px;
    border: 10px solid black;
    color: black;
    background-color: white;
    padding: 100px;
    font-weight: 600;
  }
  
  .parole {
    display: inline-block;
    margin-top: 10px;
    color: blue;
  }
  
  .parole i {
    display: none; /* Inizialmente le nascondo tutte */
    transition: opacity 1s ease-in-out;
  }
  
  .parole .s {
    display: inline; /* Mostra solo la prima parola */
  }
  