
body{
    color: #393d41;
    font-size: 3.1rem;
    font-family: 'open sans';
    line-height: 1.65;
    justify-content: center;
    text-align: center;
}
.container{
    justify-content: calc(100%-2.5em);
    text-align: calc(100%-2.5em);
    width: 100%;
}
img{
    width: 70%;
}
header{
    width: 100%;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

#h1{
    font-size: 8rem;
}
.headings{
    color: #25a2c3;
    font-family: 'Monseratt';
    line-height: 1.5;
    padding-top: 30px;
    margin-top: 0;
    font-size: 4rem;
}
.sezione1>h2{
    color: white;
}
.break-word {
    word-wrap: break-word;
}

#main{
    background-image: url(../images/banner.jpg);
    padding-bottom: 50px;
}

.p1{
    padding-bottom: 30px;
}
.partiamo{
    background-color: #f04c2f;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5%;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    
   
}


section{
    background-color: white;
    padding-bottom: 0px;
}

.section0{
    background-color: white;
    padding-top: 30px;
}
.white{
    color: white;
}
section > .imgSquare{
    padding-top: 40px;
    border-radius: 50%;
}

.sezione1{
    background-color:  #f04c2f;
    color: white;
    margin-top: 90px;
    padding-top: 20px;
    padding-bottom: 80px;
    
}
#riconoscimenti{
    margin-top: 20px;
}

.sezione2{
    margin-top: 60px;
}
.sezione3{
    padding-top: 30px;
    margin-top: 60px;
}
.sezione4{
    padding-top: 30px;
    margin-top: 60px;
}

footer{
    background-color:#25a2c3;
    color:#c8e7f0;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2{
    font-size: 2rem;
}
#h2{
    font-size: 5rem;
    padding-bottom: 50px;
}
footer ~h2 , .sezione1 >h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer~p{
    padding-top: 70px;
}
i{
    position: absolute;
    position: left;
}
.info{
    display: block;
    color:#c8e7f0;
}

.a-white{
    color: #c8e7f0; 
}

hr{
    border: solid 1px #dee1e3;
}
