@import 'variabili';
@import 'mixins';


body{
    background-color: rgb(19, 14, 14) ;
    box-sizing: border-box;
    overflow-x: hidden;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    width: 230px;
    align-self: center;
  }
  
  .nav_avatar {
    width: 95px;
  }

  .navbar-nav{
    li a{
        font-size: nth($fontSize,3);
        color: white;
        text-decoration: $none;
    }
    a:focus{
        background-color: red;

    }
  }

  #collapse{
    background-color: red;
  }

//   MAIN  CSS DEL VECCHIO SLIDER RIFATTO
// .wrapper > * {
//   margin: 70px; /* Margine uguale a sinistra, destra e in alto per tutti gli elementi direttamente figli di .wrapper */
// }
// .wrapper {
//   width: 100%;
//   position: relative;
//   h1{
//     font-size: nth($fontSize,5);
//     color: $white;
//   }
// }
// .wrapper i {
//   top: 50%;
//   height: 50px;
//   width: 50px;
//   cursor: pointer;
//   font-size: 1.25rem;
//   position: absolute;
//   text-align: center;
//   line-height: 50px;
//   background: red;
//   border-radius: 50%;
//   box-shadow: 0 3px 6px rgba(0,0,0,0.23);
//   transform: translateY(-50%);
//   transition: transform 0.1s linear;
// }
// .wrapper i:active{
//   transform: translateY(-50%) scale(0.85);
// }
// .wrapper i:first-child{
//   left: -22px;
// }
// .wrapper i:last-child{
//   right: -22px;
// }
// .wrapper .carousel{
//   display: grid;
//   grid-auto-flow: column;
//   grid-auto-columns: calc((100% / 5) - 12px);
//   overflow-x: auto;
//   scroll-snap-type: x mandatory;
//   gap: 16px;
//   border-radius: 8px;
//   scroll-behavior: smooth;
//   scrollbar-width: none;
// }
// .carousel::-webkit-scrollbar {
//   display: none;
// }
// .carousel.no-transition {
//   scroll-behavior: auto;
// }
// // rende più fluido lo scorrimento
// .carousel.dragging {
//   scroll-snap-type: none;
//   scroll-behavior: auto;
// }
// .carousel.dragging .card {
//   cursor: grab;
//   user-select: none;
// }
// .carousel :where(.card, .img) {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .carousel .card {
//   scroll-snap-align: start;
//   list-style: none;
//   cursor: pointer;
//   flex-direction: column;
//   border-radius: 8px;
// }

// .card .img img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }
// .carousel .card h2 {
//   font-weight: 500;
//   font-size: 1.56rem;
//   margin: 30px 0 5px;
// }
// .carousel .card span {
//   color: #6A6D78;
//   font-size: 1.31rem;
// }
// @media screen and (max-width: 900px) {
//   .wrapper .carousel {
//     grid-auto-columns: calc((100% / 2) - 9px);
//   }
// }
// @media screen and (max-width: 600px) {
//   .wrapper .carousel {
//     grid-auto-columns: 100%;
//   }
// }
// FOOTER
footer{
  color: $white;
  display: flex;
  justify-content: center;

  p{
    font-size: nth($fontSize,2);
  }

}
// ACCOUNT SECOND PAGE
#form{
  color: white;
}

//  MAIN 
.section{
  margin: 70px;
}
.slide{
  height: 200px;
  width: 350px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}

img{
  height: 100%;
  width:90%;
  transition: transform 1s;
}
.image-slider{
  display: grid;
  place-items: center;

  position: relative;

  overflow: hidden;
  height: 250px;  
  width: 100%;
}
.image-slider-film{
  display: flex;
  width:calc(350px * 12);
  animation: play 40s linear infinite;
}

.image-slider-film:hover{
 animation-play-state: paused;
}


@keyframes play{
  0%{
      transform: translateX(0);
  }

  100%{
      transform: translateX(calc(-250px*6));
  }
}


  img:hover{
      transform: translateZ(20px);
  }

  //  FINE MAIN .

  .sec{
    select{
      background-color: black;
      color: white;
      padding: 10px 30px 10px 10px;
    }
    
  }