@import 'variabili';
@import 'mixins';

// *{
//     margin-left: 2%;
//     margin-right: 2%;
// }

#body{
    background-color: rgb(19, 14, 14) ;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    width: 230px;
    align-self: center;
  }
  
  .nav_avatar {
    width: 95px;
  }

  .navbar-nav{
    li a{
        font-size: nth($fontSize,3);
        color: white;
        text-decoration: $none;
    }
    a:focus{
        background-color: red;

    }
  }

  #collapse{
    background-color: red;
  }

//   MAIN
section{
  .headTitle
  {
    display: flex;
    align-items: center;
    select{
      border: 2px solid white;
      padding-left: 20px;
      padding-right: 20px;
      color: $white;
      font-size: nth($fontSize,3);
      align-items: center;
      margin-top: -23px;
      margin-left: -130px;
    }
    h1{
      font-weight: 900;
      font-size: nth($fontSize,6);
    }
  } 
}
.iconsRight{
  display: flex;
  .ii{
    justify-content:center;
    margin-left: 10%;
    i{
      color: white;
      font-size: nth($fontSize,5);

    }
  }
  
}
.films {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.film-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: $white;
}

.film-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  color: $white;
}

//ho trovato questo modo perchè non mi piaceva la barra sotto di scorriemnto 
.film-container::-webkit-scrollbar {
  display: none;
}

.film-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.film-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.film-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.film-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.film-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.film-brand {
  text-transform: uppercase;
}

.film-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

// FOOTER
footer{
  color: $white;
  display: flex;
  justify-content: center;

  p{
    font-size: nth($fontSize,2);
  }

}
// ACCOUNT SECOND PAGE
#form{
  color: white;
}