@import 'spazi';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

nav{
    margin-top: nth($margin, 3);
    margin-left: nth($margin, 7);
    margin-bottom: nth($margin, 3);
    img{
        width: 5%;
    }
    li{
        margin-left: nth($margin, 4);
    }
    .avatar1{
        border-radius: 50%;
        width: 25%;
        margin-left: nth($margin, 3);
    }
}

#hero{
    background-color: $purple;
    width: 100vw;
}