span{
  color: red;
}


body {
  background: linear-gradient(135deg, #00bcd4, #ff4081);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
